.essentialcategories {
  padding: 1% 20%;
}

.subcategorylist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
}

.essentialcategoriescontrol{
  display: flex;
  margin: 50px 0px;
  justify-content: center;
  gap: 20px;
}

.essentialcategoriescontrol button{
  height: 50px;
  width: 100px;
  font-size: x-large;
}