.polarareachart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.polarareachartsubcategory{
  margin: 10px;
  padding: 50px;
}

.polarareachartsubcategoryheader {
  text-align: center;
}